/*TODO Look at all z-index */
/*TODO Need to look at CSS. Positiong is shit for the button and icon */
/*FIXME CSS is garbage need to relook over */
/*Organization Badge related */
.badge-pill-grid{
  display: grid;
  /* grid-column-gap: .1%; */
  /*Note Columns needs to match the data-max-options in "selectpicker" */
  grid-template-columns: repeat(20, .1fr); /* 20 columns 0.1 fraction each */
  font-size: 30px;
  z-index: -1;
  background-color: #106ac5;
  box-sizing: border-box;
  height: 47px;
  font-weight: 400;
  justify-items: center;
  align-items: normal;

  /* Changes wheres the text appears in the badge */
  line-height: 1.25;
}
/*Note Inherit from "badge-grid" */
.custom-badge-pill {
  width: 100px;
  border-radius: 40px;
  margin-top: 1px;
  font-size: inherit;
  text-align: center;
  color:#000000;
  background-color: #04D4CE;
}

.custom-badge-pill:hover{
  color:#ffffff;
  background-color: #000000; 
}
/*Organization Badge related */


.grid-container{
    display: grid;
    grid-column-gap: .5%;
    /* grid-auto-columns: 3%; */
    grid-template-columns: repeat(10, .03fr); /* 7 columns 0.03 fraction each */
    font-size: 60px; /*Note Change font-size changes the .button-layout and .icon "height" */
    z-index: -1;
    background-color: #D3D9DF;
    height: 5%;
    box-sizing: border-box;
  } 

/*Organization Tooltip related */
/*Note This is the parent to the icons */
.custom-tooltip {
  position: relative;
  display: inline-flex;
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;

}
/*Note Tooltip text */
/*Note If it has tooltiptext inside a tooltip */
.custom-tooltip .custom-tooltip-text {
  /*Note Don't change top and left because it aligns it to the left */
  top: -25px;
  left: -1px;
  position: absolute;
  font-size: 10px;
  width: 80px;
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);

  /* Position the tooltip text - see examples below! */
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .custom-tooltip-text{
  visibility: visible;

}
  /*Organization Tooltip  related */
  
/*Note Parent element is ".custom-tooltip" */
.override-button{
  display: inline-flex;
  z-index: 1;
  height: 100%;
  width: 100%;
  font-size: 100%;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0px;
  /* white-space: nowrap; */
  /* overflow: hidden;  */


  }
/*Note Parent element is ".override-button". Grandparent is ".custom-tooltip" */
/* TODO Positioning for icon is shit because of using -15px */
/*Organization Icon related */
.style-icon {
  display: inherit; 
  z-index: 2;
  height: 100%;
  width: 100%; 
  font-size: 100%;
  border: 2px solid #152238;
  box-sizing: border-box;
  background-color: #f8f8f9;
  color: #004489;
  text-align: center;
  /*Note Change font-size changes the .button-layout and .icon "height" */
}

.style-icon:hover{ 
  color: #007FFF;
}
/*Organization Icon related */  

/*Note Parent is ".custom-tooltip" */
.date-dropdown {
  width: 230px;
  height: 50px;
  display: none;
  position: absolute;
  top: 100%;
  font-size: 30px;
  background-color: #f1f1f1;
  box-shadow: 0px 5px 15px 0px #00FFFF;
  z-index: 1; /*! Maybe Change this to -1 later. Problem is the badge area*/
}


/*Note Inherits from .date-dropdown */
.custom-input{
  width: inherit;
  height: inherit;
  display: inherit;
  position: inherit;
  font-size: inherit;
  /* border: 2px solid rgb(0, 0, 0); */
  /* border-radius: 4px;
  box-sizing: border-box; */
}


/* The container must be positioned relative: */
.inequality-dropdown {
  display: none;  
  position: absolute;
  box-shadow: 0px 5px 15px 0px #00FFFF;
  z-index: 1; /*! Maybe Change this to -1 later. Problem is the badge area */
  top: 100%;
  height: 35px;
  width: 175%;
  box-sizing: border-box;
}

/*! Quick fix until I can make my own custom select */
select.custom-dropdown {
  font-size: 20px; /*! Might have to change the font-size later */
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: inherit;
  text-align: center;
  
}
/* FIXME "address-dropdown" and "address-select" are ghetto, but it's a quick fix for now */
.address-dropdown {
  display: none;  
  position: absolute;
  box-shadow: 0px 5px 15px 0px #00FFFF;
  z-index: 1; /*! Maybe Change this to -1 later. Problem is the badge area */
  top: 100%;
  height: 35px;
  width: 200px;
  box-sizing: border-box;
}

.address-select{
  position: absolute;
  top: -100%;
}



/*! Delete later. Using this so the tooltip can be seen*/
.filler-div{
  width: 100%;
  background-color: rgb(106, 188, 156);
  height: 30px;
  z-index: -4;
}


