{% block address %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text">Address</span>
    <button id="Address-Icon-Button" class="override-button">
        <i class="fa-solid fa-address-card style-icon" id="Address-Icon"></i>
    </button>
    <div class="address-dropdown content" id="Address-Dropdown">
        <!--Note Having "selectpicker" means there's a div with the select inside it. Inspect to see it -->
        <select id="Address" data-width="200px" class="selectpicker address-select" data-max-options="20"
        data-live-search="true" show-tick="true" multiple 
        multiple data-selected-Text-Format="count" data-count-selected-text="Address ({0} items selected)" data-actions-box="false">
            {% for Address in address_list %} 
            <option value="{{ Address }}" data-tokens="{{ Address }}" id="{{ Address }}">{{ Address }}</option> <!--! id, data-tokens might need to be configured-->
            {% endfor %}
        </select>
    </div>
</div>

{% endblock %}
