{% block external_website %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text" id="Website-Tooltip">Website</span>
    <button id="Website-Icon-Button" class="override-button">
        <i class="fa-solid fa-location-arrow style-icon" id="Website-Icon"></i>
    </button>
    <div class="inequality-dropdown reveal" id="Website-Dropdown">
        <select class="custom-dropdown" id="Website" > 
            <option value="Zapper" id="Zapper">Zapper</option>
            <option value="Prosper-Circle" id="Prosper-Circle">Prosper Circle</option>
            <option value="NFT-Go" id="NFT-Go">NFT Go</option>
            <option value="OpenSea" id="OpenSea">OpenSea</option>
            <option value="Blur" id="Blur">Blur</option>
        </select>
    </div>
</div>

{% endblock %}

