{% block greater_than %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text" id="Greater-Than-Tooltip">Greater Than</span>
    <button id="Greater-Than-Icon-Button" class="override-button">
        <i class="fa-solid fa-greater-than-equal style-icon" id="Greater-Than-Icon"></i>
    </button>
    <div class="inequality-dropdown reveal" id="Greater-Than-Dropdown">
                <select id="Greater-Than" class="custom-dropdown"> 
                    <!-- <option value="" disabled selected></option> -->
                     <!-- FIXME Why is it named less_than when it's in the greater_than file? -->
                    {% for less_than in inequality_dictionary["Ascending List"] %} 
                    <option value="{{ less_than }}" id="{{ less_than }}">{{ less_than }} </option> 
                    {% endfor %}
                </select>
    </div>
</div>

{% endblock %}