{% block start_date %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text" id="Start-Date-Tooltip">Start Date</span>
    <button id="Start-Date-Icon-Button" class="override-button">
        <i class="fa-regular fa-calendar-days style-icon" id="Start-Date-Icon"></i>
    </button>
    <div class="date-dropdown reveal" id="Start-Date-Dropdown">                                         
        <input id="Start-Date" class="custom-input text-center send" type="date" value="{{ date_dictionary['Min Date'] }}" min="{{ date_dictionary['Min Date'] }}" max="{{ date_dictionary['Max Date'] }}"/> 
    </div>    
</div>
  
{% endblock %}