{% block type_address %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text">Buyer/Seller</span>
    <button id="Type-Address-Icon-Button" class="override-button">
        <i class="fa-regular fa-user style-icon" id="Type-Address-Icon"></i>
    </button>
    <div class="inequality-dropdown content" id="Type-Address-Dropdown">
        <select class="custom-dropdown" name="Type-of-Address" id="Address-Type">
            <option value="Buyer">Buyer</option>
            <option value="Seller">Seller</option>
        </select>
    </div>

</div>

{% endblock %}

