{% block type_transaction %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text" id="Type-Tooltip">Type Transaction</span>
    <button id="Type-Icon-Button" class="override-button">
        <i class="fa-solid fa-filter style-icon" id="Type-Icon"></i>
    </button>
    <div class="inequality-dropdown reveal" id="Type-Dropdown">
        <select class="custom-dropdown send" name="Type" id="Type">
            <option value="Total">Total</option>
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
        </select>
    </div>

</div>

{% endblock %}