{% block type_transaction %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text" id="Type-Transaction-Tooltip">Transaction Type</span>
    <!-- <span class="custom-tooltip-text-2" id="Disabled-Type-Transaction-Tooltip">Disabled</span> -->
    <button id="Type-Transaction-Icon-Button" class="override-button">
        <i class="fa-solid fa-filter style-icon" id="Type-Transaction-Icon"></i>
    </button>
    <div class="inequality-dropdown content" id="Type-Transaction-Dropdown">
        <select class="custom-dropdown" name="Type-of-Transaction" id="Transaction-Type">
            <option value="Total">Total</option>
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
        </select>
    </div>

</div>

{% endblock %}