{% block type_address %}

<div class="custom-tooltip">
    <span class="custom-tooltip-text" id="Type-Tooltip">Type Address</span>
    <button id="Type-Icon-Button" class="override-button">
        <i class="fa-regular fa-user style-icon" id="Type-Icon"></i>
    </button>
    <div class="inequality-dropdown content" id="Type-Dropdown">
        <select class="custom-dropdown" name="Type" id="Type">
            <option value="Buyer">Buyer</option>
            <option value="Seller">Seller</option>
        </select>
    </div>

</div>

{% endblock %}

