{% extends "base.html" %}
<head>
    <script src="/frontend/static/js/bar/main.js" type="module"></script>
</head>

{% block content %}
    <div class="filler-div"></div>
    <div class="grid-container">
        {% include "dropdowns/type_transaction.html" %}
        {% include "dropdowns/address.html" %}
        {% include "dropdowns/less_than.html" %}
        {% include "dropdowns/greater_than.html" %}
        {% include "dropdowns/external_website.html" %}
        {% include "dropdowns/reset.html" %}    

    </div>
    <div id="badge-area" class="badge-pill-grid"></div>
    <div>
        {% include "graph/base_graph.html" %}
    </div>




{% endblock %}

