@import "nav-hover.css";

/* Note Root Selector */
*
{
  padding: 0px;
  margin: 0px;
}

/* Note This is need because ".main-navbar" is transaparent */
.nav-wrapper
{
  position: absolute;
  bottom: 0px;
  width: 100%;

  /* Note height needs to match "tool-text" because it's the only visible layer*/
  height: 50px;
  background-image: linear-gradient(to right, #C0C0C0 , #f8f8f8);
  /* background-color: #C0C0C0; */
}


/* Note Main grid */
.main-grid-navbar
{
  display: grid;

  /* Note column is width*/
  grid-template-columns: repeat(3, 300px);
  /* Note row is height */
  grid-template-rows: repeat(1, 150px);
  grid-column-gap: 1%;
  grid-row-gap: 0%;
  background: transparent;
  position: absolute;
  bottom: 0px;
  /* font-weight: bold; */

}

/* Note Center everything that has an anchor tag */
.main-grid-navbar a 
{
  /* Note These 3 will center the text in the center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-grid
{
  display: grid;
  /* Note Splits the column from "main-grid-navbar" which is 300px  into two columns that are 150px each*/
  grid-template-columns: repeat(2, 150px);
 
  /* Note Splits the row from "main-grid-navbar" which is 150px into three columns that are 50px each */
  grid-template-rows: repeat(3, 50px);
}


/*Note Minus one row because these are the non visable layers */
/* Note Needs to have the same height and width as "sub-grid" */
.graph-grid
{
  display: none;
  /* display: grid; */
  /* Note Splits the column from "main-grid-navbar" which is 300px  into two columns that are 150px each*/
  grid-template-columns: repeat(2, 150px);

  /* Note Splits the row from "main-grid-navbar" which is 150px into three columns that are 50px each */
  grid-template-rows: repeat(2, 50px);
}

/* Note Same column and width as "graph-grid" */
/* Note Minus one row from "graph-grid" */
.bar-grid
{
  /* display: none; */
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(1, 50px);
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

/* Note Same column and width as "graph-grid" */
/* Note Minus one row from "graph-grid" */
.scatter-grid
{
  background-color: ededed;
  /* display: none; */
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(1, 50px);
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

/* Note Same row numbers and height as "bar-grid" and "scatter-grid" */
.specificity-grid
{
  background-color: #f4f4f4;
  display: none;
  /* display: grid; */
  grid-template-columns: repeat(2, 75px);
  grid-template-rows: repeat(1, 50px);
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

/* Note Everything with "-text" needs to have width 150px, height 50px */
.tool-text
{
  width: 150px;
  height: 50px;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;

}

.graph-text
{
  background-color: #ededed;
  width: 150px;
  height: 50px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

}


/* Note Everything with "-column" needs to have width 75px, height 50px */
.left-column
{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  width: 75px;
  height: 50px;

}

.right-column
{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: 75px;
  height: 50px;

}

/*Organization Image related */  
.social-media-grid
{
  /* Note column is width*/
  grid-template-columns: repeat(3, 50px);
  /* Note row is height. Height needs to match "nav-wrapper" */
  grid-template-rows: repeat(1, 50px);

  grid-column-gap: .5%;
  display: grid;
  justify-content: right;
  bottom: 0px;
  background-color: transparent;

}

.sub-social-media-grid
{
  /* display: grid; */
  grid-template-columns: repeat(1, 50px);
  grid-template-rows: repeat(1, 50px);

  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center;
  align-items: center; */

}

/* .override-anchor{
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
} */


.image{

  /* display: flex;
  justify-content: center;
  align-items: center; */

  height: 40px;
  width: 40px;
  background-color: transparent;
  /* justify-content: center;
  align-items: center; */


}



/*Organization Image related */ 