{% block badge %}     

<div id="badge-area" class="badge-pill-grid">
    <!--Note Hard coding Zapper link because Zapper is the default  -->
    <!--Note Key is full_address. Value is short_address -->
    <!--Note value and id are the full address so we change it to change the website. Text is the short address so it fits the badges -->
    {% for key, value in badges.items() %}   
    <a href="https://zapper.fi/account/{{ key }}?tab=nft&network=ethereum&collectionToggle=collection" class="custom-badge-pill" value="{{ key }}" id="{{ key }}" target="_blank" rel="noopener noreferrer">{{ value }}</a>
    
    {% endfor %}
</div> 

{% endblock  %}  