{% block badge %}

<div class="image-header-grid">
    <!-- frontend\static\pic\twitter.png -->
    <!--TODO Haredcode Opensea link. Need to link to NFT, not stockroom -->
    <!--FIXME Resize the images once you figure the size  -->
    <!--! image class doesn't work because anchor is the parent -->
    <a href="https://twitter.com/10KTFshop" class="override-anchor" style="background-color: black;">
        <img src="/pic/twitter.jpeg" class="image" alt="Twitter">
    </a>   
    <a href="https://t.co/P8DUqvlZn5" class="override-anchor">
        <img src="/pic/discord.jpeg" class="image" alt="Discord">
    </a> 
    <a href="https://opensea.io/collection/10ktf-stockroom" class="override-anchor">
        <img src="/pic/opensea.jpeg" class="image" alt="Opensea">
    </a> 
</div>


{% endblock %}