{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        <!--#region Thimble-->
        <li class="nav-item dropdown dropup">
            <a class="nav-link dropdown-toggle" href="#" id="Thimble" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Thimble
            </a>
            <div class="dropdown-menu" aria-labelledby="Thimble">
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='scatter', Tool='thimble') }}">Scatter</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='transaction', Tool='thimble') }}">Transaction</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='volume', Tool='thimble') }}">Volume</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='heatmap', Tool='thimble') }}">Heatmap</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='sunburst', Tool='thimble') }}">Sunburst</a>
            </div> 
        </li>
        <!--#endregion -->

        <!--#region Scissor-->
        <li class="nav-item dropdown dropup">
            <a class="nav-link dropdown-toggle" href="#" id="Scissor" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Scissor
            </a>
            <div class="dropdown-menu" aria-labelledby="Scissor">
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='scatter', Tool='scissor') }}">Scatter</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='transaction', Tool='scissor') }}">Transaction</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='volume', Tool='scissor') }}">Volume</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='heatmap', Tool='scissor') }}">Heatmap</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='sunburst', Tool='scissor') }}">Sunburst</a>
            </div> 
        </li>
        <!--#endregion -->

        <!--#region Tape-->
        <li class="nav-item dropdown dropup">
            <a class="nav-link dropdown-toggle" href="#" id="Tape" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tape
            </a>
            <div class="dropdown-menu" aria-labelledby="Tape">
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='scatter', Tool='tape') }}">Scatter</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='transaction', Tool='tape') }}">Transaction</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='volume', Tool='tape') }}">Volume</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='heatmap', Tool='tape') }}">Heatmap</a>
                <a class="dropdown-item" target="_blank" href="{{ url_for('Route_Graph', Graph_Name='sunburst', Tool='tape') }}">Sunburst</a>
            </div>  
        </li>
        <!--#endregion -->

        </ul>
    </div>
</nav>
{% endblock %}