{% block social_media %}

<div class="social-media-grid">

    <!--TODO Haredcode Opensea link. Need to link to NFT, not stockroom -->
    <div class="sub-social-media-grid">
        <a href="https://twitter.com/10KTFshop" target="_blank" rel="noopener noreferrer">
            <img src="/pic/twitter.jpeg" class="social-media-image" alt="Twitter">
        </a>   
    </div>

    <div class="sub-social-media-grid">
        <a href="https://t.co/P8DUqvlZn5" target="_blank" rel="noopener noreferrer">
            <img src="/pic/discord.jpeg" class="social-media-image" alt="Discord">
        </a>    
    </div>

    <div class="sub-social-media-grid">
        <a href="https://opensea.io/collection/10ktf-stockroom" target="_blank" rel="noopener noreferrer">
            <img src="/pic/opensea.jpeg" class="social-media-image" alt="Opensea">
        </a>  
    </div>
    <!-- <a href="https://twitter.com/10KTFshop" target="_blank" rel="noopener noreferrer">
        <img src="/pic/twitter.jpeg" class="image" alt="Twitter">
    </a>   
    <a href="https://t.co/P8DUqvlZn5" target="_blank" rel="noopener noreferrer">
        <img src="/pic/discord.jpeg" class="image" alt="Discord">
    </a> 
    <a href="https://opensea.io/collection/10ktf-stockroom" target="_blank" rel="noopener noreferrer">
        <img src="/pic/opensea.jpeg" class="image" alt="Opensea">
    </a>  -->
</div>


{% endblock %}